<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.best_of_robotics.transform.orocos.to.cplusplus.commands.category"
            name="M2T Category">
      </category>
      <command
            categoryId="org.best_of_robotics.transform.orocos.to.cplusplus.commands.category"
            id="org.best_of_robotics.transform.orocos.to.cplusplus.commands.generateSource"
            name="Generate Orocos Source">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.best_of_robotics.transform.orocos.to.cplusplus.handlers.RttTransformHandler"
            commandId="org.best_of_robotics.transform.orocos.to.cplusplus.commands.generateSource">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.best_of_robotics.transform.orocos.to.cplusplus.commands.generateSource"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.best_of_robotics.transform.orocos.to.cplusplus.menus.brideMenu"
               label="M2T"
               mnemonic="B">
            <command
                  commandId="org.best_of_robotics.transform.orocos.to.cplusplus.commands.generateSource"
                  id="org.best_of_robotics.transform.orocos.to.cplusplus.commands.generateSource"
                  mnemonic="G">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.best_of_robotics.transform.orocos.to.cplusplus.toolbars.brideToolbar">
            <command
                  commandId="org.best_of_robotics.transform.orocos.to.cplusplus.commands.generateSource"
                  icon="icons/sample.gif"
                  id="org.best_of_robotics.transform.orocos.to.cplusplus.toolbars.generateSource"
                  tooltip="Generate Orocos Source">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.best_of_robotics.transform.orocos.to.cplusplus.tools.FeautreMapUtilTool"
            defaultName="FeautreMapUtilTool">
      </tool>
   </extension>

</plugin>
