<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.best_of_robotics.bride.menu"
               label="BRIDE"
               mnemonic="B">
            <separator
                  name="additions"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.best_of_robotics.bride.ui.category.newWizard"
            name="BRIDE">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.best_of_robotics.bride.ui.preference.WorkbenchPreferencePage"
            id="org.best_of_robotics.bride.ui.preference"
            name="BRIDE">
      </page>
   </extension>

</plugin>
