<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.best_of_robotics.research.upmc.category2"
            name="UPMC Research">
      </category>
      <command
            categoryId="org.best_of_robotics.research.upmc.category2"
            id="org.best_of_robotics.research.upmc.command2"
            name="UPMC Transform">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.best_of_robotics.research.upmc.UpmcTransformHandler"
            commandId="org.best_of_robotics.research.upmc.command2">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.best_of_robotics.bride.menu?after=additions">
         <command
               commandId="org.best_of_robotics.research.upmc.command2"
               id="org.best_of_robotics.research.upmc.command2"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
