<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Teacher Category"
            id="org.ros.teacher">
      </category>
      <view
            name="ApplicationTeacher View"
            icon="icons/sample.gif"
            category="org.ros.teacher"
            class="org.ros.teacher.views.ApplicationTeacherView"
            id="org.ros.teacher.views.ApplicationTeacherView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.ros.teacher.views.ApplicationTeacherView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
