<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="orocos_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="orocos_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="org.best_of_robotics.model.orocos.diagram.part.OrocosDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/OrocosDiagramFile.gif"
         extensions="orocos_diagram"
         default="true"
         class="org.best_of_robotics.model.orocos.diagram.part.OrocosDiagramEditor"
         matchingStrategy="org.best_of_robotics.model.orocos.diagram.part.OrocosMatchingStrategy"
         contributorClass="org.best_of_robotics.model.orocos.diagram.part.OrocosDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.best_of_robotics.model.orocos.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/OrocosDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.best_of_robotics.model.orocos.diagram.part.OrocosCreationWizard"
  	     id="org.best_of_robotics.model.orocos.diagram.part.OrocosCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.best_of_robotics.model.orocos.diagram.InitDiagram"
            nameFilter="*.orocos"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.best_of_robotics.model.orocos.diagram.part.OrocosInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.best_of_robotics.model.orocos.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="OrocosPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.best_of_robotics.model.orocos.diagram.part.OrocosDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="OrocosPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.best_of_robotics.model.orocos.diagram.part.OrocosDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="OrocosRender">
         <Priority name="Lowest"/>
         <ViewId id="org.best_of_robotics.model.orocos.diagram.part.OrocosDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="org.best_of_robotics.model.orocos.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.best_of_robotics.model.orocos.diagram.general"
            name="%prefpage.org.best_of_robotics.model.orocos.diagram.general"
            class="org.best_of_robotics.model.orocos.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.best_of_robotics.model.orocos.diagram.appearance"
            name="%prefpage.org.best_of_robotics.model.orocos.diagram.appearance"
            category="org.best_of_robotics.model.orocos.diagram.general"
            class="org.best_of_robotics.model.orocos.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.best_of_robotics.model.orocos.diagram.connections"
            name="%prefpage.org.best_of_robotics.model.orocos.diagram.connections"
            category="org.best_of_robotics.model.orocos.diagram.general"
            class="org.best_of_robotics.model.orocos.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.best_of_robotics.model.orocos.diagram.printing"
            name="%prefpage.org.best_of_robotics.model.orocos.diagram.printing"
            category="org.best_of_robotics.model.orocos.diagram.general"
            class="org.best_of_robotics.model.orocos.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.best_of_robotics.model.orocos.diagram.rulersAndGrid"
            name="%prefpage.org.best_of_robotics.model.orocos.diagram.rulersAndGrid"
            category="org.best_of_robotics.model.orocos.diagram.general"
            class="org.best_of_robotics.model.orocos.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.best_of_robotics.model.orocos.diagram"
            labelProvider="org.best_of_robotics.model.orocos.diagram.sheet.OrocosSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.best_of_robotics.model.orocos.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.best_of_robotics.model.orocos.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.best_of_robotics.model.orocos.diagram.sheet.OrocosPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.best_of_robotics.model.orocos.diagram.navigator.OrocosAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="org.best_of_robotics.model.orocos.diagram.providers.OrocosViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Orocos"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,3001,3002,3003,3004"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.best_of_robotics.model.orocos.diagram.providers.OrocosEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Orocos"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,3001,3002,3003,3004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5006,5007,5008,5009,5001,5002,5003,5004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7002"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.best_of_robotics.model.orocos.diagram.providers.OrocosModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="org.best_of_robotics.model.orocos.diagram.edit.parts.PackageEditPart" id="Package_1000"/>
         <object class="org.best_of_robotics.model.orocos.diagram.edit.parts.TaskContextEditPart" id="TaskContext_2001"/>
         <object class="org.best_of_robotics.model.orocos.diagram.edit.parts.ActivityEditPart" id="Activity_2002"/>
         <context elements="Package_1000,TaskContext_2001,Activity_2002"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="org.best_of_robotics.model.orocos.diagram.providers.OrocosIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.best_of_robotics.model.orocos.diagram.providers.OrocosParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://orocos/1.0">
         <metamodelType
               id="org.best_of_robotics.model.orocos.diagram.Package_1000"
               name="%metatype.name.Package_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Package"
               edithelper="org.best_of_robotics.model.orocos.diagram.edit.helpers.PackageEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://orocos/1.0">
         <metamodelType
               id="org.best_of_robotics.model.orocos.diagram.TaskContext_2001"
               name="%metatype.name.TaskContext_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TaskContext"
               edithelper="org.best_of_robotics.model.orocos.diagram.edit.helpers.TaskContextEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://orocos/1.0">
         <metamodelType
               id="org.best_of_robotics.model.orocos.diagram.Activity_2002"
               name="%metatype.name.Activity_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Activity"
               edithelper="org.best_of_robotics.model.orocos.diagram.edit.helpers.ActivityEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://orocos/1.0">
         <metamodelType
               id="org.best_of_robotics.model.orocos.diagram.OutputPort_3001"
               name="%metatype.name.OutputPort_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OutputPort"
               edithelper="org.best_of_robotics.model.orocos.diagram.edit.helpers.OutputPortEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://orocos/1.0">
         <metamodelType
               id="org.best_of_robotics.model.orocos.diagram.InputPort_3002"
               name="%metatype.name.InputPort_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputPort"
               edithelper="org.best_of_robotics.model.orocos.diagram.edit.helpers.InputPortEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://orocos/1.0">
         <metamodelType
               id="org.best_of_robotics.model.orocos.diagram.Property_3003"
               name="%metatype.name.Property_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Property"
               edithelper="org.best_of_robotics.model.orocos.diagram.edit.helpers.PropertyEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://orocos/1.0">
         <metamodelType
               id="org.best_of_robotics.model.orocos.diagram.Operation_3004"
               name="%metatype.name.Operation_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Operation"
               edithelper="org.best_of_robotics.model.orocos.diagram.edit.helpers.OperationEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://orocos/1.0">
         <metamodelType
               id="org.best_of_robotics.model.orocos.diagram.ConnectionPolicy_4001"
               name="%metatype.name.ConnectionPolicy_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ConnectionPolicy"
               edithelper="org.best_of_robotics.model.orocos.diagram.edit.helpers.ConnectionPolicyEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://orocos/1.0">
         <specializationType
               id="org.best_of_robotics.model.orocos.diagram.IActivityTaskContext_4002"
               name="%metatype.name.IActivityTaskContext_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4002"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.best_of_robotics.model.orocos.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.best_of_robotics.model.orocos.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.best_of_robotics.model.orocos.diagram.TypeContext">
         <elementType ref="org.best_of_robotics.model.orocos.diagram.Package_1000"/>
         <elementType ref="org.best_of_robotics.model.orocos.diagram.TaskContext_2001"/>
         <elementType ref="org.best_of_robotics.model.orocos.diagram.Activity_2002"/>
         <elementType ref="org.best_of_robotics.model.orocos.diagram.OutputPort_3001"/>
         <elementType ref="org.best_of_robotics.model.orocos.diagram.InputPort_3002"/>
         <elementType ref="org.best_of_robotics.model.orocos.diagram.Property_3003"/>
         <elementType ref="org.best_of_robotics.model.orocos.diagram.Operation_3004"/>
         <elementType ref="org.best_of_robotics.model.orocos.diagram.ConnectionPolicy_4001"/>
         <elementType ref="org.best_of_robotics.model.orocos.diagram.IActivityTaskContext_4002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.best_of_robotics.model.orocos.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.best_of_robotics.model.orocos.diagram"
           properties="isURIEditorInput"
           class="org.best_of_robotics.model.orocos.diagram.part.OrocosUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.best_of_robotics.model.orocos.diagram.resourceContent"/>
			<contentExtension pattern="org.best_of_robotics.model.orocos.diagram.domainResourceContent"/>
            <contentExtension pattern="org.best_of_robotics.model.orocos.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.best_of_robotics.model.orocos.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.best_of_robotics.model.orocos.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.best_of_robotics.model.orocos.diagram.navigator.OrocosNavigatorContentProvider" 
            labelProvider="org.best_of_robotics.model.orocos.diagram.navigator.OrocosNavigatorLabelProvider"
            icon="icons/obj16/OrocosDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="orocos_diagram"/>
               </and>
               <instanceof value="org.best_of_robotics.model.orocos.diagram.navigator.OrocosAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.best_of_robotics.model.orocos.diagram.navigator.OrocosAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.best_of_robotics.model.orocos.diagram.navigatorSorter" 
               class="org.best_of_robotics.model.orocos.diagram.navigator.OrocosNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="orocos_diagram"/>
                  </and>
                  <instanceof value="org.best_of_robotics.model.orocos.diagram.navigator.OrocosAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.best_of_robotics.model.orocos.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.best_of_robotics.model.orocos.diagram.navigator.OrocosDomainNavigatorContentProvider" 
            labelProvider="org.best_of_robotics.model.orocos.diagram.navigator.OrocosDomainNavigatorLabelProvider"
            icon="icons/obj16/OrocosDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="orocos"/>
               </and>
               <instanceof value="org.best_of_robotics.model.orocos.diagram.navigator.OrocosDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.best_of_robotics.model.orocos.diagram.navigator.OrocosDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.best_of_robotics.model.orocos.diagram.navigatorActionProvider"
            class="org.best_of_robotics.model.orocos.diagram.navigator.OrocosNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.best_of_robotics.model.orocos.diagram.navigator.OrocosAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.best_of_robotics.model.orocos.diagram.navigatorLinkHelper"
            class="org.best_of_robotics.model.orocos.diagram.navigator.OrocosNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.best_of_robotics.model.orocos.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.best_of_robotics.model.orocos.diagram.navigator.OrocosAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.best_of_robotics.model.orocos.diagram.part.OrocosDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.best_of_robotics.model.orocos.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.best_of_robotics.model.orocos.diagram.updateDiagram"
         contextId="org.best_of_robotics.model.orocos.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.best_of_robotics.model.orocos.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="org.best_of_robotics.model.orocos.diagram.part.OrocosDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="org.best_of_robotics.model.orocos.diagram.edit.parts.PackageEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="org.best_of_robotics.model.orocos.diagram.part.OrocosDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.best_of_robotics.model.orocos.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="org.best_of_robotics.model.orocos.diagram.part.OrocosDiagramEditorID"
         defaultHandler="org.best_of_robotics.model.orocos.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
