<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://bcm/1.0"
            class="org.best_of_robotics.model.bcm.BcmPackage"
            genModel="model/bcm.genmodel"/>
   </extension>

</plugin>
