<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="rtt_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="rtt_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="org.orocos.model.rtt.diagram.part.RttDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/RttDiagramFile.gif"
         extensions="rtt_diagram"
         default="true"
         class="org.orocos.model.rtt.diagram.part.RttDiagramEditor"
         matchingStrategy="org.orocos.model.rtt.diagram.part.RttMatchingStrategy"
         contributorClass="org.orocos.model.rtt.diagram.part.RttDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.orocos.model.rtt.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/RttDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.orocos.model.rtt.diagram.part.RttCreationWizard"
  	     id="org.orocos.model.rtt.diagram.part.RttCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.orocos.model.rtt.diagram.InitDiagram"
            nameFilter="*.rtt"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.orocos.model.rtt.diagram.part.RttInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.orocos.model.rtt.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="RttPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.orocos.model.rtt.diagram.part.RttDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="RttPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.orocos.model.rtt.diagram.part.RttDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="RttRender">
         <Priority name="Lowest"/>
         <ViewId id="org.orocos.model.rtt.diagram.part.RttDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="org.orocos.model.rtt.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.orocos.model.rtt.diagram.general"
            name="%prefpage.org.orocos.model.rtt.diagram.general"
            class="org.orocos.model.rtt.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.orocos.model.rtt.diagram.appearance"
            name="%prefpage.org.orocos.model.rtt.diagram.appearance"
            category="org.orocos.model.rtt.diagram.general"
            class="org.orocos.model.rtt.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.orocos.model.rtt.diagram.connections"
            name="%prefpage.org.orocos.model.rtt.diagram.connections"
            category="org.orocos.model.rtt.diagram.general"
            class="org.orocos.model.rtt.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.orocos.model.rtt.diagram.printing"
            name="%prefpage.org.orocos.model.rtt.diagram.printing"
            category="org.orocos.model.rtt.diagram.general"
            class="org.orocos.model.rtt.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.orocos.model.rtt.diagram.rulersAndGrid"
            name="%prefpage.org.orocos.model.rtt.diagram.rulersAndGrid"
            category="org.orocos.model.rtt.diagram.general"
            class="org.orocos.model.rtt.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.orocos.model.rtt.diagram"
            labelProvider="org.orocos.model.rtt.diagram.sheet.RttSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.orocos.model.rtt.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.orocos.model.rtt.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.orocos.model.rtt.diagram.sheet.RttPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.orocos.model.rtt.diagram.navigator.RttAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="org.orocos.model.rtt.diagram.providers.RttViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Rtt"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,3001,3002,3003,3006,3004"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.orocos.model.rtt.diagram.providers.RttEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Rtt"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,3001,3002,3003,3006,3004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5006,5007,5008,5010,5011,5012,5013,5014,5001,5002,5003,5004,5005,5009"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7003,7002"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.orocos.model.rtt.diagram.providers.RttModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="org.orocos.model.rtt.diagram.edit.parts.PackageEditPart" id="Package_1000"/>
         <object class="org.orocos.model.rtt.diagram.edit.parts.TaskContextEditPart" id="TaskContext_2001"/>
         <object class="org.orocos.model.rtt.diagram.edit.parts.ActivityEditPart" id="Activity_2002"/>
         <context elements="Package_1000,TaskContext_2001,Activity_2002"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="org.orocos.model.rtt.diagram.providers.RttIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.orocos.model.rtt.diagram.providers.RttParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://rtt/1.0">
         <metamodelType
               id="org.orocos.model.rtt.diagram.Package_1000"
               name="%metatype.name.Package_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Package"
               edithelper="org.orocos.model.rtt.diagram.edit.helpers.PackageEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://rtt/1.0">
         <metamodelType
               id="org.orocos.model.rtt.diagram.TaskContext_2001"
               name="%metatype.name.TaskContext_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TaskContext"
               edithelper="org.orocos.model.rtt.diagram.edit.helpers.TaskContextEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://rtt/1.0">
         <metamodelType
               id="org.orocos.model.rtt.diagram.Activity_2002"
               name="%metatype.name.Activity_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Activity"
               edithelper="org.orocos.model.rtt.diagram.edit.helpers.ActivityEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://rtt/1.0">
         <metamodelType
               id="org.orocos.model.rtt.diagram.OutputPort_3001"
               name="%metatype.name.OutputPort_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OutputPort"
               edithelper="org.orocos.model.rtt.diagram.edit.helpers.OutputPortEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://rtt/1.0">
         <metamodelType
               id="org.orocos.model.rtt.diagram.InputPort_3002"
               name="%metatype.name.InputPort_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputPort"
               edithelper="org.orocos.model.rtt.diagram.edit.helpers.InputPortEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://rtt/1.0">
         <metamodelType
               id="org.orocos.model.rtt.diagram.Property_3003"
               name="%metatype.name.Property_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Property"
               edithelper="org.orocos.model.rtt.diagram.edit.helpers.PropertyEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://rtt/1.0">
         <metamodelType
               id="org.orocos.model.rtt.diagram.Operation_3006"
               name="%metatype.name.Operation_3006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Operation"
               edithelper="org.orocos.model.rtt.diagram.edit.helpers.OperationEditHelper">
            <param name="semanticHint" value="3006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://rtt/1.0">
         <metamodelType
               id="org.orocos.model.rtt.diagram.Slave_3004"
               name="%metatype.name.Slave_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Slave"
               edithelper="org.orocos.model.rtt.diagram.edit.helpers.SlaveEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://rtt/1.0">
         <metamodelType
               id="org.orocos.model.rtt.diagram.ConnectionPolicy_4001"
               name="%metatype.name.ConnectionPolicy_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ConnectionPolicy"
               edithelper="org.orocos.model.rtt.diagram.edit.helpers.ConnectionPolicyEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://rtt/1.0">
         <specializationType
               id="org.orocos.model.rtt.diagram.IActivityTaskContext_4002"
               name="%metatype.name.IActivityTaskContext_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4002"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.orocos.model.rtt.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.orocos.model.rtt.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.orocos.model.rtt.diagram.TypeContext">
         <elementType ref="org.orocos.model.rtt.diagram.Package_1000"/>
         <elementType ref="org.orocos.model.rtt.diagram.TaskContext_2001"/>
         <elementType ref="org.orocos.model.rtt.diagram.Activity_2002"/>
         <elementType ref="org.orocos.model.rtt.diagram.OutputPort_3001"/>
         <elementType ref="org.orocos.model.rtt.diagram.InputPort_3002"/>
         <elementType ref="org.orocos.model.rtt.diagram.Property_3003"/>
         <elementType ref="org.orocos.model.rtt.diagram.Operation_3006"/>
         <elementType ref="org.orocos.model.rtt.diagram.Slave_3004"/>
         <elementType ref="org.orocos.model.rtt.diagram.ConnectionPolicy_4001"/>
         <elementType ref="org.orocos.model.rtt.diagram.IActivityTaskContext_4002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.orocos.model.rtt.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.orocos.model.rtt.diagram"
           properties="isURIEditorInput"
           class="org.orocos.model.rtt.diagram.part.RttUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.orocos.model.rtt.diagram.resourceContent"/>
			<contentExtension pattern="org.orocos.model.rtt.diagram.domainResourceContent"/>
            <contentExtension pattern="org.orocos.model.rtt.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.orocos.model.rtt.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.orocos.model.rtt.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.orocos.model.rtt.diagram.navigator.RttNavigatorContentProvider" 
            labelProvider="org.orocos.model.rtt.diagram.navigator.RttNavigatorLabelProvider"
            icon="icons/obj16/RttDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="rtt_diagram"/>
               </and>
               <instanceof value="org.orocos.model.rtt.diagram.navigator.RttAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.orocos.model.rtt.diagram.navigator.RttAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.orocos.model.rtt.diagram.navigatorSorter" 
               class="org.orocos.model.rtt.diagram.navigator.RttNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="rtt_diagram"/>
                  </and>
                  <instanceof value="org.orocos.model.rtt.diagram.navigator.RttAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.orocos.model.rtt.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.orocos.model.rtt.diagram.navigator.RttDomainNavigatorContentProvider" 
            labelProvider="org.orocos.model.rtt.diagram.navigator.RttDomainNavigatorLabelProvider"
            icon="icons/obj16/RttDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="rtt"/>
               </and>
               <instanceof value="org.orocos.model.rtt.diagram.navigator.RttDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.orocos.model.rtt.diagram.navigator.RttDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.orocos.model.rtt.diagram.navigatorActionProvider"
            class="org.orocos.model.rtt.diagram.navigator.RttNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.orocos.model.rtt.diagram.navigator.RttAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.orocos.model.rtt.diagram.navigatorLinkHelper"
            class="org.orocos.model.rtt.diagram.navigator.RttNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.orocos.model.rtt.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.orocos.model.rtt.diagram.navigator.RttAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.orocos.model.rtt.diagram.part.RttDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.orocos.model.rtt.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.orocos.model.rtt.diagram.updateDiagram"
         contextId="org.orocos.model.rtt.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.orocos.model.rtt.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="org.orocos.model.rtt.diagram.part.RttDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="org.orocos.model.rtt.diagram.edit.parts.PackageEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="org.orocos.model.rtt.diagram.part.RttDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.orocos.model.rtt.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="org.orocos.model.rtt.diagram.part.RttDiagramEditorID"
         defaultHandler="org.orocos.model.rtt.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
